p {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.description {
  padding: 2.5em;
}

.description div {
  margin-bottom: 3em;
}

@media screen and (min-width: 1200px) {
  .description {
    width: 60%;
  }

  p {
    font-size: 2rem;
  }
}
