.card {
  display: grid;
  place-items: center;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
}
.card__holder {
  position: relative;
}
.card__description {
  display: none;
  position: absolute;
  inset: 0;
  padding: 2em;
}
.card__holder:nth-child(1):hover > .card__description {
  display: block;
}
.card__holder:nth-child(1):hover {
  filter: blur(1rem);
}
