input {
  width: 40%;
  margin: 0;
}

label {
  margin: 0;
}

main.symptoms__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2em;
}

.symptoms {
  width: 100%;
  border: 2px solid #F9F871;
  padding: 2em;
  border-radius: 1rem;
}

.symptoms form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symptoms form button {
  padding: 0.2em 0.7em;
  font-size: 2rem;
  border-radius: 1rem;
  color: #F9F871;
  border: 2px solid #F9F871;
  background-color: transparent;
  transition: box-shadow 350ms ease-in-out;
}

.symptoms form button:hover {
  box-shadow: 0 0 10px #F9F871;
}

.symptoms__option {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
  font-size: 2rem;
}

.input__btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

@media screen and (min-width: 775px) {
  .symptoms {
    width: 40%;
    min-width: 600px;
  }
}
