main.symptoms__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2em;
}

.symptoms {
  width: 100%;
  border: 2px solid #F9F871;
  padding: 2em;
}

.symptoms form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symptoms form button {
  font-size: 2rem;
}

.symptoms__option {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
  font-size: 2rem;
}

@media screen and (min-width: 775px) {
  .symptoms {
    width: 40%;
  }
}
