@use 'reset';
@use 'animations';
@use 'components';



body{
    display: block;
    margin-bottom: 5em;
    font-family: 'Oleo Script', cursive;
    background-color: #0E2B55;
    overflow: visible;
}
